<div class="dashboard-container">
    <!-- Sidebar -->
    <nav class="sidebar">
    <div class="menu-icon"><i class="fa-solid fa-bars fa-1x"></i></div>
    <ul>
        <li><a class="icon" href="/user"><i class="fa-solid fa-user fa-lg"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-file fa-lg"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-regular fa-square-check fa-lg"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-book-open fa-lg"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-bell fa-lg"></i></a></li>
        <li><a class="icon" href="#"><i class="fa-solid fa-message fa-lg"></i></a></li>
        </ul>
        <ul class="menu-home">
            <li class="home__icon"><a class="icon" href="/dashboard"><i class="fa-solid fa-house fa-lg"></i></a></li>
            <li class="home__icon"><a class="icon" href="/login"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a></li>
        </ul>
    </nav>

<section class="section-central">
    <div>
        <img src="../../../../assets/picture.png" alt="img-usuario-actual">
        <h3>Juan Perez, Bienvenido!</h3>
        <label>
            Nombre completo
            <input type="text" disabled value="Juan Perez">
        </label>
        <label>
            Cargo
            <input type="text" disabled value="Desarrollador">
        </label>
        <label>
            Fecha de nacimiento
            <input type="text" disabled value="23/02/2000">
        </label>
    </div>
    <div>
        <label>
            Usuario
            <input type="text" disabled value="juan.perez">
        </label>
        <label>
            Vacaciones disponibles
            <input type="text" disabled value="5">
        </label>

        <a href="">Solicitar cambio de datos personales</a>
    </div>
  </section>

</div>